@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5em;
}

.logo{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

.profile-main-container, 
.profile-main-tecnologies,
.profile-main-contact{
    /* padding: 10px 60px 0%; */
    background-color: #052333;
    color: #fff;
    min-height: 100vh;
}

.profile-container-footer{
    background-color: #052333;
    color: #fff;
}

.profile-container-cards-tecnologies{
    margin: 0 15px;
}

.profile-main-projects{
    background-color: #052333;
    color: #fff;
    min-height: 80vh;
}

.profile-main-container img{
    width: 140px;
    margin: 0 auto;
    display: block;
    border: 4px solid #fff;
    border-radius: 50%;
    height: 140px;
}

.profile-main-container > .profile-container{
    /* margin: 8% 20% 5%; */
    margin: 0 19%;
    margin-top: 21vh;
    background: rgba(15, 58, 80, 0.79);
    border-radius: 10px;
    padding: 2% 1%;
}

.profile-main-container > .profile-container h2{
    /* margin: 40px; */
    margin: 5%;
    text-align: center;
    font-size: 3em;
}

.profile-main-container > .profile-container p{
    margin: 0 10%;
    text-align: center;
}

.card > img{
    margin: 0 auto;
    width: 80%;
    padding: 5%;
    margin-top: 8%;
}

.card-img{
    width: 50%;
}

.card-title{
    text-align: center;
}

.profile-main-contact {
    /* padding: 10px 60px 0%; */
    background-color: #052333;
    color: #fff;
    min-height: 60vh;
}

.profile-tecnologies-info,
.profile-projects-info,
.profile-contact-info {
    margin-bottom: 5%;
}

.profile-tecnologies-title,
.profile-tecnologies-info,
.profile-projects-title,
.profile-projects-info,
.profile-contact-title,
.profile-contact-info {
    text-align: center;
}

.profile-tecnologies-title,
.profile-projects-title,
.profile-contact-title{
    font-size: 3em;
    margin-top: 10%;
}

.profile-tecnologies-text,
.profile-projects-text,
.profile-contact-text{
    margin: 0 15%;
    margin-top: 1%;
}

.profile-contact-info{
    margin-bottom: 5%;
}

.copyrights{
    margin: 10% 0;
}

section.btns-contact{
    margin: auto 30px;
}

.btns-contact > div > a{
    width: 100%;
    padding: 6%;
    text-align: center;
    background: #07112d;
}

.btns-contact > div > a:hover{
    background: #30b2fe;
}

.btns-contact > div > a{
    background: #07112d;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}

.btns-contact > div > a > ion-icon{
    font-size: 2.2em;
}

nav {
    backdrop-filter: blur(20px);
}

.navbar > a{
    color:#FFF
}

.navbar-toggler {
    background-color: #FFF;
}

.card{
    background-color: #164c69;
    color: #fff;
}
